<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员登陆</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/vue/2.6.10/vue.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/axios/0.17.1/dist/axios.js}"></script>
</head>
<script type="text/javascript">
    $(function () {
        var data4Vue = {
            uri: 'admin/login',
            admin: {username: '', password: ''}
        };
        var vue = new Vue({
            el: '#adminLogin',
            data: data4Vue,
            methods: {
                login: function () {
                    var url = this.uri;
                    if (0 == this.admin.username.length) {
                        $("#beError").html("请输入邮箱地址");
                        return;
                    }
                    if (0 == this.admin.password.length) {
                        $("#beError").html("请输入密码");
                        return;
                    }
                    axios.post(url, this.admin).then(function (response) {
                        var result = response.data;
                        if (result.code == 0) {
                            location.href = "/admin/listCompany";
                        } else {
                            $("#beError").html(result.message);
                        }
                    });
                }
            }
        });
    })
</script>
<body>
<form id="adminLogin">
    <h1>管理员登录</h1>
    账号：<input type="text" id="username" v-model="admin.username" name="username"
              placeholder="请输入账号" @keyup.enter="login"/>
    <br><br>
    密码：<input type="password" id="password" v-model="admin.password" name="password"
              placeholder="请输入密码"/>
    <br>
    <span style="color: red" id="beError"></span>
    <br><br>
    <input type="button" @click="login" value="登录" />
</form>
</body>
</html>