<template th:fragment="html">
    <div id="home_banner">
        <ul class="banner_bg">
            <li class="banner_bg_1 current">
                <a
                        target="_blank"><img src="style/images/d05a2cc6e6c94bdd80e074eb05e37ebd.jpg" width="612"
                                             height="160" alt="好买基金——来了就给100万"/></a>
            </li>
            <li class="banner_bg_2">
                <a
                        target="_blank"><img src="style/images/c9d8a0756d1442caa328adcf28a38857.jpg" width="612"
                                             height="160" alt="世界杯放假看球，老板我也要！"/></a>
            </li>
            <li class="banner_bg_3">
                <a
                        target="_blank"><img src="style/images/d03110162390422bb97cebc7fd2ab586.jpg" width="612"
                                             height="160" alt="出北京记——第一站厦门"/></a>
            </li>
        </ul>
        <div class="banner_control">
            <em></em>
            <ul class="thumbs">
                <li class="thumbs_1 current">
                    <i></i>
                    <img src="style/images/4469b1b83b1f46c7adec255c4b1e4802.jpg" width="113" height="42"/>
                </li>
                <li class="thumbs_2">
                    <i></i>
                    <img src="style/images/381b343557774270a508206b3a725f39.jpg" width="113" height="42"/>
                </li>
                <li class="thumbs_3">
                    <i></i>
                    <img src="style/images/354d445c5fd84f1990b91eb559677eb5.jpg" width="113" height="42"/>
                </li>
            </ul>
        </div>
    </div><!--/#main_banner-->
    <ul id="da-thumbs" class="da-thumbs">
        <li>
            <a target="_blank">
                <img src="style/images/a254b11ecead45bda166afa8aaa9c8bc.jpg" width="113" height="113" alt="联想"/>
                <div class="hot_info">
                    <h2 title="联想">联想</h2>
                    <em></em>
                    <p title="世界因联想更美好">
                        世界因联想更美好
                    </p>
                </div>
            </a>
        </li>
        <li>
            <a target="_blank">
                <img src="style/images/c75654bc2ab141df8218983cfe5c89f9.jpg" width="113" height="113" alt="淘米"/>
                <div class="hot_info">
                    <h2 title="淘米">淘米</h2>
                    <em></em>
                    <p title="将心注入 追求极致">
                        将心注入 追求极致
                    </p>
                </div>
            </a>
        </li>
        <li>
            <a target="_blank">
                <img src="style/images/2bba2b71d0b0443eaea1774f7ee17c9f.png" width="113" height="113"
                     alt="优酷土豆"/>
                <div class="hot_info">
                    <h2 title="优酷土豆">优酷土豆</h2>
                    <em></em>
                    <p title="专注于视频领域，是中国网络视频行业领军企业">
                        专注于视频领域，是中国网络视频行业领军企业
                    </p>
                </div>
            </a>
        </li>
        <li>
            <a target="_blank">
                <img src="style/images/f4822a445a8b495ebad81fcfad3e40e2.jpg" width="113" height="113"
                     alt="思特沃克"/>
                <div class="hot_info">
                    <h2 title="思特沃克">思特沃克</h2>
                    <em></em>
                    <p title="一家全球信息技术服务公司">
                        一家全球信息技术服务公司
                    </p>
                </div>
            </a>
        </li>
        <li>
            <a target="_blank">
                <img src="style/images/5caf8f9631114bf990f87bb11360653e.png" width="113" height="113" alt="奇猫"/>
                <div class="hot_info">
                    <h2 title="奇猫">奇猫</h2>
                    <em></em>
                    <p title="专注于移动互联网、互联网产品研发">
                        专注于移动互联网、互联网产品研发
                    </p>
                </div>
            </a>
        </li>
        <li class="last">
            <a target="_blank">
                <img src="style/images/c0052c69ef4546c3b7d08366d0744974.jpg" width="113" height="113"
                     alt="堆糖网"/>
                <div class="hot_info">
                    <h2 title="堆糖网">堆糖网</h2>
                    <em></em>
                    <p title="分享收集生活中的美好，遇见世界上的另外一个你">
                        分享收集生活中的美好，遇见世界上的另外一个你
                    </p>
                </div>
            </a>
        </li>
    </ul>
</template>